*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.contenedor{
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.animado{
    height: 50px;
    width: 50px;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    animation: carga 2s infinite linear ;
}

.animado::after{
    content: '';
    height: 50px;
    width: 50px;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    animation: carga 2s infinite linear ;
    animation-delay: 2s;
    transition: linear;
}
.animado::before{
    content: '';
    height: 50px;
    width: 50px;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    animation: carga 2s infinite linear ;
    animation-delay: 3s;
    transition: linear;
}

@keyframes carga {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

/**********************************************/


.corazon{
    height: 50px;
    width: 50px;
    background-color: red;
    transform: rotate(45deg);
    position: relative;
    animation: kokoro 1s infinite linear;
    box-shadow: 0px 2px 81px 0px rgba(255,82,117,1);
}
.corazon::before{
    content: '';
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    top: -50%;
    border-radius: 50%;
}
.corazon::after{
    content: '';
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    top: 0%;
    left: -50%;
    border-radius: 50%;
}

@keyframes kokoro {
    0%{
        transform: scale(1) rotate(45deg);
    }
    40%{
        transform: scale(1.1) rotate(45deg);
    }
    50%{
        transform: scale(1) rotate(45deg);
    }
    60%{
        transform: scale(1.1) rotate(45deg);
    }
    100%{
        transform: scale(1) rotate(45deg);
    }
}

.TextPrimero{
    margin-top: 20px;
}
.Text{
    color: rgb(255, 54, 54);
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}